<% if user_signed_in? %>
  <p><%= "Signed in as #{current_user.email}" %></p>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<br></br>
<% @items.each do |item| %>
  <% if user_signed_in? %>
    <p><%= item.title %> | <%= number_to_currency(item.price_as_decimal) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% else %>
    <p><%= item.title %> | <%= number_to_currency(item.price_as_decimal) %> </p>
  <% end %>
<% end %>
